body {
  padding: 1em;
  min-width: 30em;
  overflow-x: hidden;
}

textarea {
  font-family: monospace !important;
  font-size: 1.2em !important;
  width: 99%;
  height: 15em;
}

.code_container {
  /*overflow: auto;*/
}

.options {
  display: inline-block;
  margin-top: .5em;
  padding-bottom: 0.5em;
}

.options > select {
  margin-left: .25em;
}

.options-top {
  padding-bottom: 0.5em;
}

.options-top > button:first-of-type {
  margin-right: .25em;
}

form.misc-options {
  display: inline-flex;
  margin-top: .5em;
  /* font-size: 0.8em; */
}

textarea#sandbox {
  display: none;
}

label.cbl input[type=checkbox]{
  margin-right: .5em;
  position: relative;
  vertical-align: middle;
}

